site_name: Chehil的博客
site_description: 嘎嘎嘎
site_url: https://e-chehil.github.io/blog-docs/

theme:
  name: material
  language: zh
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - toc.integrate
    - header.autohide

nav:
  - 首页: index.md
  - 课表: class_schedule.html

plugins:
  - search

markdown_extensions:

  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  # - pymdownx.betterem:
  #     smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: je
          class: je-source
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
  # 1. 引入 React 和 ReactDOM (使用 UMD 版本)
  - https://unpkg.com/react@18/umd/react.production.min.js
  - https://unpkg.com/react-dom@18/umd/react-dom.production.min.js
  
  # 2. 引入 Babel Standalone (用于浏览器端编译 JSX)
  - https://unpkg.com/@babel/standalone/babel.min.js
  
  # 3. 引入 Tailwind CSS (通过 CDN)
  - https://cdn.tailwindcss.com

  # 4. 引入你的渲染脚本
  # 注意：必须添加 type: text/babel 以便 Babel 识别并编译它
  - path: javascripts/voucher-render.js
    type: text/babel
